# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a


#Debug
Debug/*.txt
Debug/bbqLogin.*
Debug/bbqMainDlg.*
Debug/BbqUrlServer.*
Debug/AccountNumber.*
Debug/bbqOCRProcess.*
Debug/bbqshop.*
Debug/bbqRelogin.*
Debug/bbqUpdate.*
Debug/ClientSocket.*
Debug/JSON.*
Debug/KeyHook.*
Debug/LibCurl.*
Debug/PosPrinter.*
Debug/PosPrinterLPT.*
Debug/QRGenerate.*
Debug/ZHFuncLib.*
Debug/ZHSettingRW.*
Debug/bbqUpdateClientIcon.*
Debug/*.xml
Debug/*.bmp
Debug/*.ico
Debug/*.userinfo
Debug/*.bbqinfo
*/Debug

#Release
Release/*.txt
Release/bbqLogin.*
Release/bbqMainDlg.*
Release/BbqUrlServer.*
Release/AccountNumber.*
Release/bbqOCRProcess.*
Release/bbqshop.*
Release/bbqRelogin.*
Release/bbqUpdate.*
Release/ClientSocket.*
Release/JSON.*
Release/KeyHook.*
Release/LibCurl.*
Release/PosPrinter.*
Release/PosPrinterLPT.*
Release/QRGenerate.*
Release/ZHFuncLib.*
Release/ZHSettingRW.*
Release/bbqUpdateClientIcon.*
Release/*.xml
Release/*.bmp
Release/*.ico
Release/*.png
Release/*.userinfo
Release/*.bbqinfo
*/Release


*/GeneratedFiles
*.sdf
*.suo
*/*.filters
*/*.user
ipch/
bbqshop.opensdf
copydll.*
copydll.bat
